
<FaIcon @icon={{this.iconName}} @size="4x" />
<p>{{this.iconName}}</p>

<p>{{this.test}}</p>

{{!-- <div id="myDiagramDiv" {{did-insert this.focus}} style="width:400px; height:150px; background-color: #DAE4E4;"></div> --}}

{{!-- <button {{on "click" this.changeIcon}}>CLICK ME</button> --}}
<div id="myDiagramDiv" {{did-insert this.setupChart}} style="width:400px; height:150px; background-color: #DAE4E4;"></div>